header{
    background:#e4366b url(../images2/7.jpg) no-repeat center center;
    background-size:7.65625rem 1.65625rem;
}
.main{
    width: 100%;
    flex:1;
    overflow: auto;
    .banner{
        width: 100%;
        height: 7.8125rem;
        .box{
            height: 7.8125rem;
            img{
                width: 100%;
                height: 100%;
            }
        }      
    }
    section{
       width: 100%;
       height: 6.875rem;
       border-bottom: 0.03125rem solid #ccc;
       display: flex;
       justify-content: center;
       align-items: center;
        .sec{
            width:95.4%;
            height: 5.4375rem;
            display: flex;
           // background: red;
            justify-content: space-between;
            .left{
                width: 5.46875rem;
                height: 5.46875rem;
                img{
                    width: auto;
                    height: 100%;
                }
            }
            .right{
                width: 65.6%;
                height: 5.46875rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                   .top{
                       font-size: 0.875rem;
                       line-height: 1.3125rem;
                   }
                   .bottom{
                       display: flex;
                       justify-content: space-between;
                       .bottom-left{
                           .current{
                               font-size: 0.9375rem;
                               color: #f32975;
                           }
                           .before{
                               font-size: 0.625rem;
                               color: #bcbabb;
                               margin-left: 0.15625rem;
                               text-decoration: line-through;
                           }
                           .zhekou{
                               font-size:0.625rem;
                               color: black;
                               line-height: 0.875rem;
                               padding-left: 0.1875rem;
                           }
                       }
                       .bottom-right{
                           span{
                               display: block;
                               width: 3.65625rem;
                               height: 1.59375rem;
                               background: url(../images2/10.jpg) no-repeat center center;
                               background-size: 100%;
                           }
                       }
                   }
            }
        }
    }
}
