header{
    background:#e4366b url(../images2/mydindan.png)no-repeat center center;
    background-size:5.875rem 1.84375rem;
    .back{
        width: 1.96875rem;
        height: 1.15625rem;
        margin-top:0.9375rem;
        margin-left: 0.46875rem;
        background: url(../images2/29.jpg) no-repeat center center;
        background-size: 1.96875rem 1.15625rem;
    }
}
