header{
    background:#e4366b url(../images2/prodintroduce.png)no-repeat center center;
    background-size:5.75rem 1.9375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .back{
        width: 1.96875rem;
        height: 1.15625rem;
       // margin-top:0.9375rem;
        margin-left: 0.46875rem;
        background: url(../images2/29.jpg) no-repeat center center;
        background-size: 1.96875rem 1.15625rem;
    }
    .share{
        margin-right: 0.5625rem;
        text-align: center;
        width: 3.8125rem;
        height: 1.75rem;
        background: url(../images2/30.jpg) no-repeat center center;
        background-size: 3.8125rem 1.75rem;
        line-height: 1.75rem;
        color: white;
    }
}
