
header{
    background:#e4366b url(../images2/cart.png) no-repeat center center;
    background-size:4.71875rem 1.90625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .back{
        width: 1.96875rem;
        height: 1.15625rem;
       // margin-top:0.9375rem;
        margin-left: 0.46875rem;
        background: url(../images2/29.jpg) no-repeat center center;
        background-size: 1.96875rem 1.15625rem;
    }
    .go_buy{
        margin-right: 0.5625rem;
        text-align: center;
        width: 3.8125rem;
        height: 1.75rem;
        background: url(../images2/30.jpg) no-repeat center center;
        background-size: 3.8125rem 1.75rem;
        line-height: 1.75rem;
        color: white;
    }
}

//main
.main{
    flex: 1;
    overflow:auto;
    //空购物车
    .empty{
        width: 100%;
        height: 18.75rem;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        .top{        
            height: 3.75rem;
            h5{
                margin-top: 1.40625rem;
                height: 2.5rem;
                font-size: 1.09375rem;
                //font-weight: bold;
                line-height: 2.5rem;
            }
            div{
                width: 8.25rem;
                height: 8.25rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .bottom{
            width: 13.21875rem;
            height: 2.875rem;
            background: url(../images2/quguang.png) no-repeat center center;
            background-size: 13.21875rem 2.875rem;;
        }
    }
    //有商品时
    #title{
        width:100%;
        height: 2.8125rem;
       // line-height:2.8125rem;
        background: #333333;
        color: #f9f9f9;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title-left{
            margin-left: 0.75rem;
        }
        .title-right{
            margin-right: 1rem;
            #total{
                color: #e4366b;
            }
        }
    }
    section{
        width: 100%;
        height: 7.15625rem;
        border-bottom: 0.03125rem solid #ccc;
        .prod{
            width: 100%;
            height: 7.15625rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .prod-left{
                width: 5.46875rem;
                height: 5.46875rem;
                margin-left: 1.0625rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .prod-middle{
                //background: red;
                width: 50.46%;
                height: 5.46875rem;
                .prod-message{
                    font-size: 0.875rem;
                    line-height: 1.1875rem;
                    height: 2.8125rem;
                }
                .prod-price{
                   font-size:0.875rem; 
                   line-height: 1.125rem;
                   #price{
                       font-size: 0.8125rem;
                       color: #e4366b;
                   }
                }
                .prod-amount{
                    width: 100%;
                    height: 1.5625rem;
                    font-size: 0.875rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .operat{
                        width: 6.9375rem;
                        height: 1.5625rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        #minus,#add{
                            color: white;
                            font-weight: bolder;
                            background: #939393;
                            border-radius: 0.3125rem;
                            display: block;
                            width: 1.8125rem;
                            height: 1.34375rem;
                            text-align: center;
                            line-height: 1.34375rem;
                        }
                       
                        #amount{
                            box-shadow: inset 0 0 0.3125rem #CCC;
                            border-radius: 0.3125rem;
                            width:2.4375rem;
                            height: 1.40625rem;
                            text-align: center;
                            line-height: 1.40625rem;
                        }
                    }
                }
            }
            .prod-right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 1.28125rem;
                height:5.46875rem;
                margin-right: 0.5rem;
                //background: pink;
                .prod-right-top{
                    width: 1.09375rem;
                    height: 1.09375rem;
                    background: red;
                    background: url(../images2/21.jpg) no-repeat center center;
                    background-size: 0.96875rem 1.09375rem;
                }
                .prod-right-bottom{
                    width: 1.09375rem;
                    height: 1.09375rem;
                    text-align: center;
                    line-height: 1.09375rem;
                    margin-bottom:1.5625rem;          
                }
            }
        }
    }
}

