body{
    display: flex;
    flex-direction: column;
}
header{
    width:100%;
    height: 2.71875rem;
}
.search{
    height:2.8125rem;
    width: 100%;
    background: #52525a;
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        width:92.6%;
        height: 1.78125rem;
        border-radius: 0.9375rem;
        padding-left:2.61rem;
        font-size: 0.8125rem;
        background:#fff url(../images/7_05.png) no-repeat 3% center;
        background-size:1.4375rem 1.28125rem;
    }
}
//main

footer{
//  background: pink;
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 3.125rem;       
        width: 100%;
        background: #484850;
        color: white;
        li{
            padding-top: 0.5rem;
            height: 2.625rem; 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .iconfont{
                font-size: 1.34375rem;
            }
            p:nth-child(2){
                font-size: 0.75rem;
            }
        }
    }
}
